1_Neural_Network_Foundations/Analytics_Vidya_Identify_The_Digits/test.csv
1_Neural_Network_Foundations/Analytics_Vidya_Identify_The_Digits/Sample_Submission.csv
1_Neural_Network_Foundations/Analytics_Vidya_Identify_The_Digits/Train
1_Neural_Network_Foundations/Analytics_Vidya_Identify_The_Digits/sub
1_Neural_Network_Foundations/Analytics_Vidya_Identify_The_Digits/data

*/.ipynb_checkpoints


Keras_Tutorial/Part_1_Basic_Exercises/bay.jpg
Keras_Tutorial/Part_1_Basic_Exercises/trained_model.h5
Keras_Tutorial/Part_1_Basic_Exercises/logs
Keras_Tutorial/Part_1_Basic_Exercises/.idea




Keras_Tutorial/Part_4_Building_a_Simple_Aggregation_Classifier/dev__.csv
Keras_Tutorial/Part_4_Building_a_Simple_Aggregation_Classifier/data
Keras_Tutorial/Part_4_Building_a_Simple_Aggregation_Classifier/word2vec
Keras_Tutorial/Part_4_Building_a_Simple_Aggregation_Classifier/.ipynb_checkpoints

Keras_Tutorial/Part_5_Embedding_and_Tokenizer_in_keras/data
Keras_Tutorial/Part_5_Embedding_and_Tokenizer_in_keras/logs
Keras_Tutorial/Part_5_Embedding_and_Tokenizer_in_keras/.ipynb_checkpoints